{% extends 'base.html' %}

{% block title%} Formulario nutricional {% endblock %}

{% block contenido %}
<div class="d-flex justify-content-center">
<div class="card align-middle" style="width: 50rem; height: 75%;">
    <h5 class="card-header text-center" style="background-color: lightskyblue;">Clasificador de alimento</h5>
<div class="card-body">
<form>
<div class="mb-3">
    <label for="alimento" class="form-label">Nombre del alimento</label>
    <input type="text" class="form-control" id="alimento" aria-describedby="alimento">
</div>
<div class="mb-3">
    <label for="grasas" class="form-label">Grasas (g)</label>
    <input type="number" class="form-control" id="text">
</div>
    <div class="mb-3">
    <label for="proteinas" class="form-label">Proteinas (g)</label>
    <input type="number" class="form-control" id="proteinas" aria-describedby="proteinas">
</div>
<div class="mb-3">
    <label for="carbohidratos" class="form-label">Carbohidratos (g)</label>
    <input type="number" class="form-control" id="carbohidratos">
</div>
<button type="submit" class="btn btn-primary">Clasificar y añadir</button>
</form>
</div>
</div>
</div>
<br><br>

#para ir a la tabla clasificadora no logre conectarlo, pero puede escribir: clasificar_macro.

{% endblock %}